@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Shows Different types of the cars.</p>
    <iframe width="1150" height="550"  src="https://www.youtube.com/embed/sIwDyWM1yKU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
    <img src="~/carrrrrrr.gif"  height="550" width="1150"/>
</div>
